@CHARSET "UTF-8";
@import url(https://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothiclight.css);

/*WebFont
웹 폰트*/
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
body{
	font-family: 'NanumBarunGothic';
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    gray;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    gray;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    gray;
}

.modal{ 
	width: 90% !important ;
	height: 80% !important ; 
	max-height: 100% !important; 
} 

/*Main****************************************************************************************************************/
/*Main Film positioned Top & Height 
메인 필름 상단에 위치 & 길이 조정*/
.fp-tableCell {
 	height: 100% !important;
}
.slick-slider {
	height: 90%;
}
.autoplay img{
	opacity: 0.5;
	width: 100%;
	height: 25rem;
}

.paging, .result_none{
	text-align: center;
}
.autocomplete{
	z-index: 998;
}

.pagination li.active a {
	background-color: #00bfa5;
}

a{
	color: #00bfa5;
}


/* img{
	position: absolute;
    max-width: 100%;
} */
#main_image img {
	height: 50%; 
	width: 100%;
	display: block; 
	margin-bottom: auto; 
	margin-top: auto; 
	opacity: 0.5; /* 0.8 */ 
	z-index: 0; 
	position: absolute;
}

/*Search****************************************************************************************************************/
/*search page 'Before Movie...'*/
.main_title {
	color: white;	
	display: block;
	font-size: 22px;
	margin-bottom: 0;
	text-shadow: 5px 5px 0px #00bfa5;
}
.main_title_large {
	font-size: 1.9em;
	margin-bottom: 1%;
	color: #ffffff;
}
.logo {
	animation: 2.5s ease-out 0s normal none infinite levitation;
   	-webkit-animation: 2.5s ease-out 0s normal none infinite levitation;
   	color: #00bfa5;
   	opacity: 0.8;
   	border-radius : 10px;
   	padding: 5px;
}
.main_title_icon {
	text-align: right;
	margin-top: auto;
	margin-bottom: auto;
}
.main_title_text {
	text-align: left;
	margin-top: 2%;
	padding-left: 0;
}
.input-field #search{
	margin-top: 5%;
} 
.searchBar{
	background-color: white;
}
.shadow {
	color: black;
}
#search_keyword:hover{
	cursor: pointer;
}


img .activator{
	height: 450px;
}
.bgBlur {
  content: '';
  position: absolute;
  top: 0; left:0; right:0; bottom:0; 
  background: inherit;
  z-index:-1;
  filter: blur(5px); 
  -webkit-filter: blur(5px); 
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(3px);
}

/*dailyBoxOffice*/
#dailyBoxOffice{
	border: 5px solid #00bfa5;
	border-radius: 10px;
	padding: 1%;
	margin-top: 3%; 
	margin-bottom: 2%;
}
#dailyBoxOffice .lead {
	color: #00bfa5;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	margin-top: 0;
}
#dailyBoxOffice p {
	margin-bottom: 1%;
}
/*dailyBoxOffice - table*/
#boxoffice_container td {
	padding: 0;
}
#boxoffice_rank {
	width: 5%;
	text-align: center;
}
#boxoffice_rankInten {
	width: 10%;
	text-align: center;
}
#boxoffice_movieNm {
	width: 60%;
}
#boxoffice_audiAcc {
	width: 25%;
	text-align: right;
}
/*dailyBoxOffice - table carousel*/
.slick-dots li button:before{
	color: gray;
}
.slick-dots li.slick-active button:before{
	color: white;
}
.slick-track {
	height: 19rem !important;
}

/*main menu*/
#mainmenu_container { 
	position:fixed;
	width: 100%;
	z-index:9;
	text-align:center;
}
#mainmenu_container ul { 
	list-style: none; 
	width: 100%; 
	margin: 0;
}
#mainmenu_container ul li:first-child{ 
	padding-left: 0;
}
#mainmenu_container ul li a{
	text-align: center;
	padding:0;
	width: 25%;
	float: left;
}
#mainmenu_container ul li a:hover{ 
	text-decoration: underline;
}
/*main menu - log*/
#mainmenu_container ul li #mainmenu_record {
	width: 15%;
	margin-left: 85%;
	text-align: right;
}
#mainmenu_container ul li #mainmenu_record i {
	color: gray;
}
/*main menu - 메뉴 공간 띄우기
Section padding cause MainMenu*/
.section {
	padding-top: 90px;
	margin:0;
	height: 100% !important;
}
#main_searchdetail{
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
}

/* slick slide css */
.slick-list.draggable{
	height: 100%;
}

/*slide*/
.slide {
	text-align: center;
	width: 90%;
	margin: auto;
	padding: auto;
}
/*slide - delete Arrow
화살표 없애기*/
.fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
	display: none;
}

.toast {
	background-color: black; 
}

/*SearchList - card*/
#listButton {
	background-color: white;
	border: none;
	font-size: 1.2em;
	font-weight: bold;
}
#listCard {
	padding: 1%;
}
.card, .card img {
	border-radius: 10px;
}
/*SearchList - paging*/
.searchList_paging a {
	color: #aaaaaa;
	cursor: pointer;
}
.searchList_paging #searchlist_paging_selected {
	font-size: 2rem;
	color: #00bfa5;
}
.searchList_paging .less10 {
	padding: 1%;
}

/*movie detail slide menu*/
.intro{
   margin: auto;
   text-align: center;
}
#detail_table{
   background-color: gray;
   height: auto;
}
#detail_menu {
	margin-top: 3%
	padding: 0;
}
#detail_menu tr td, #detail_menu tr th{
   cursor: pointer;
}


/*MovieDetail*/
#slidedetailshow {
	padding-left: 3%; 
	margin-top: 15px;
}
#detail_info_title {
	color: white;
	font-weight: bold;
	font-size: 2.5rem;
}
#detail_info_titleOg {
	color: white;
	font-size: 1.5rem;
}
.detail_title, .detail_content {
	color: white;
}
#detail_INFO_image {
	border: 1px solid;
}
#detail_INFO_content {
	margin: 0;
}
.detail_content {
	text-align: left;
	padding-top: 3%;
}
.detail_content_media {
	margin-top: 3%;
	text-align: center;
	padding-right: 0;
}
.detail_content_media img{
	cursor: zoom-in;
}
#detail_Actor_name {
	padding-bottom: 0;
	padding-left: 5%;
	text-align: left;
	width: 100%;
}
#detail_Actor_char {
	padding-top: 0;
	padding-left: 5%;
	text-align: left;
	width: 100%;
}

/*SearchList*/
#searchList {
	 padding-left: 2%; 
	 padding-right: 2%; 
	 padding-bottom: 2%;
}
#searchList img {
	height:20rem;
	border-radius: 10px;
}

/*Loading-------------------------------------------------------------------------------------------------------------*/
.wrap-loading{ /*화면 전체를 어둡게 합니다.*/
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(0,0,0,0.8); /*not in ie */
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');    /* ie */
    
}
    .wrap-loading div{ /*로딩 이미지*/
    	display: block;
    	text-align: center;
    	margin-top: 20%;

    }
    .wrap-loading div img {
        width: 16em;
    	height: 16em;
    }
    .display-none{ /*감추기*/
        display:none;
    }

/*Genre****************************************************************************************************************/
/* add */
iframe {
   border: 0;
   width: 100%;
   height: 100%;
}
.intro{
   height: 90%;
   width: 95%;
   margin: auto;
   text-align: center;
}
#genre_table{
   background-color: gray;
   height: auto;
}
#pageA tr td, #pageB tr td{
   padding: 10px 5px;
   cursor: pointer;
}
.fp-controlArrow{
   display: none;
}
.Action {
   background-color: rgb(100, 100, 110);
}
.card-content {
   overflow: visible;
}
.section.genre.fp-section.active.fp-completely{ /* just for genre */
   padding-top: 40px;
}
.overlay{ /* which covers whole page */
    opacity:1;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
/*Genre - card img*/
#GenreList img {
   height:20rem;
   border-radius: 10px 10px 0 0;
   /* border-radius: 10px; 1116ys*/
}
#GenrelistCard {
	text-align: center;
	padding: 1%;
}
	#GenrelistCard a {
		color: black;
		background-color: white;
    	border: none;
    	font-size: 1.2em;
    	font-weight: bold;
	}

/* Top100 ****************************************************************************************************************/
#movieTop100{
	border: 5px solid #00bfa5;
	border-radius: 10px;
	padding: 1%;
	height: 35rem;
}
#movieTop100 .lead {
	color: #00bfa5;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	margin-top: 0;
}

/*QnA****************************************************************************************************************/
#boardicon{
	height:45px;
	vertical-align : middle; 
	text-align: center;
	display: table-cell;
} 
#boardlock{
   height:24px;
   vertical-align : sub; 
   text-align: center;
   display: table-cell;
   bottom:-10px;
}
.modalPass{
    width:300px;
    height:250px;
}
table#qnalist tr:hover{
   color: #242424;
}
